<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:classpath="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <!-- Import external properties file -->
    <context:property-placeholder location = "classpath:jdbc.properties" />

    <!--setting up the database connection-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user1}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!--calling mybatis sqlsession anf giving mybatis config file-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:config.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--ading mapper project path-->
    <bean id="usermapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.doerit.dao.UserMapper"/>
    </bean>

    <!--creating userservice bean from Userservice and assign usermapper property-->
    <bean id="userService" class="com.doerit.service.UserService">
        <property name="usermapper" ref="usermapper"/>
    </bean>

    <!--creating userAction bean and injecting userserive property-->
    <bean id="userAction" class="com.doerit.action.UserAction">
        <property name="userService" ref="userService"/>


    </bean>


    <bean id="AjaxAutoComplete" class="com.doerit.action.AjaxAutoComplete">
        <property name="userService" ref="userService"/>
    </bean>


</beans>


